
#######################################
# LOGS
#######################################
*.log
logs/
log/

#######################################
# UPLOADS / STORAGE / MEDIA
#######################################
storage/
gestion_calidad/storage/
uploads/
media/
files/
tmp/

#######################################
# PDFs / ARCHIVOS PESADOS
#######################################
*.pdf
*.zip
*.rar
*.7z
*.tar
*.gz
# CACHE / BUILD
#######################################
.cache/
dist/
build/
coverage/
#######################################
# BACKUPS
#######################################
backup/
backups/
*.bak
*.old/vendor/
